@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--color-text-dark);
  font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}
